body {
  background-color: #1B1A17;
  color: #F0E3CA;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body h3,
body h5 {
  margin: 4px 0px;
}
body input[type=text] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #A35709;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #1F1E1B;
  color: #F0E3CA;
}
body textarea {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #A35709;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #1F1E1B;
  color: #F0E3CA;
  max-height: 200px;
  font-family: "Inter", sans-serif;
}
body .addBtn {
  border: 2px solid #FF8303;
  padding: 8px;
  border-radius: 4px;
  background-color: #1B1A17;
  color: #FF8303;
  font-size: 32px;
  margin: 8px;
  min-width: 65px;
  cursor: pointer;
}

.HeaderWrapper {
  border: 2px solid #FF8303;
  padding: 8px;
  border-radius: 4px;
}

.HomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeWrapper .addNew {
  margin: 8px;
  display: flex;
}
.HomeWrapper .taskLoopWrapper {
  border: 2px solid #FF8303;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #A35709;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1F1E1B;
  padding: 32px;
  width: 80%;
  margin: 100px;
}
.HomeWrapper .taskLoopWrapper .noTask {
  border-top: 3px solid #FF8303;
  border-bottom: 3px solid #FF8303;
  border-width: 50%;
}
.HomeWrapper .taskLoopWrapper .TaskCardWrapper {
  border: 2px solid #FF8303;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #A35709;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  min-width: 250px;
  margin: 12px;
}
.HomeWrapper .taskLoopWrapper .TaskCardWrapper .title {
  font-size: 24px;
}
.HomeWrapper .taskLoopWrapper .TaskCardWrapper .desc {
  font-size: 12px;
}
.HomeWrapper .taskLoopWrapper .TaskCardWrapper .addBtn {
  font-size: 16px;
  min-width: unset;
  border: 1px solid #A35709;
  margin-top: 24px;
}
.HomeWrapper .taskLoopWrapper .TaskCardWrapper .addBtn img {
  width: 16px;
}

.PopupWrapper {
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  min-width: 350px;
  background-color: #1F1E1B;
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  border-top: 3px solid #FF8303;
}
.popup-content .addBtn {
  border: 1px solid #FF8303;
}

@media screen and (max-width: 480px) {
  .HomeWrapper .taskLoopWrapper {
    border: none;
    background-color: #1F1E1B;
    padding: 8px;
    width: 100%;
    margin: unset;
  }
  .HomeWrapper .taskLoopWrapper .TaskCardWrapper {
    width: max-content;
    min-width: 300px;
    max-width: 300px;
    margin: 12px;
  }
  .HomeWrapper .taskLoopWrapper .TaskCardWrapper .title {
    font-size: 24px;
  }
  .HomeWrapper .taskLoopWrapper .TaskCardWrapper .desc {
    font-size: 12px;
  }
  .HomeWrapper .taskLoopWrapper .TaskCardWrapper .addBtn {
    font-size: 16px;
    min-width: unset;
    border: 1px solid #A35709;
    margin-top: 24px;
  }
  .HomeWrapper .taskLoopWrapper .TaskCardWrapper .addBtn img {
    width: 16px;
  }
}

/*# sourceMappingURL=all.css.map */
